venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.tsv
*.xlsx
*.xls
*.zip
*.tar
*.gz
*.rar
*.7z
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.mp4
*.avi
*.mkv
*.mov
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
node_modules/
.git/
.dockerignore
Dockerfile
