asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
dj-rest-auth==7.0.1
django==5.1.7
django-allauth==65.6.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
faker==37.1.0
fire==0.7.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
oauthlib==3.2.2
psycopg2==2.9.10
pycparser==2.22
pygments==2.19.1
pyjwt==2.9.0
python-dotenv==1.1.0
pyyaml==6.0.2
rav==0.0.9
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
sqlparse==0.5.3
termcolor==2.5.0
tzdata==2025.2
urllib3==2.3.0
uv==0.6.9
