asgiref==3.8.1
dj-rest-auth==7.0.1
django==5.1.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
faker==37.1.0
fire==0.7.0
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2==2.9.10
pygments==2.19.1
pyjwt==2.9.0
pyyaml==6.0.2
rav==0.0.9
rich==13.9.4
sqlparse==0.5.3
termcolor==2.5.0
tzdata==2025.2
uv==0.6.9
